.VueCarousel-dot:focus {
    outline: 0px solid black !important;
}

/**
.VueCarousel::after {
    pointer-events: none;
    background: linear-gradient(90deg, rgb(255, 255, 255) 5%, rgba(255,255,255,0) 25%, rgba(255,255,255,0) 75%, rgb(255, 255, 255) 95%);
    content: "";
    position: absolute;
    z-index: 999;
    height: 100%;
    width: 100%;
    opacity: 1;
  }
  **/